# Dependencies
node_modules/

# Build outputs
dist/
build/
components.d.ts

# Test
coverage

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.cache/
.parcel-cache/
.eslintcache
.vite/
